<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Admin profile</title>
</head>
<body>
<header th:replace="includes/header"></header>
<div style="background:url(https://i.pinimg.com/originals/47/0a/19/470a19a36904fe200610cc1f41eb00d9.jpg);"><br><h1 style="color:white; text-align:center;">Admin Profile</h1><br></div>
<div style="background-color:#bfc9d9; width:100%; height:100%" >
    <div class="container my-2">
        <br>
        <h2 style="text-align:center;">Users list</h2>
        <a th:href="@{/admin/showNewUserForm}" class="btn btn-primary btn-sm mb-3"> Add User </a>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr><th>First name</th>
                <th>Last Name</th>
                <th>Group Name</th>
                <th>Age</th>
                <th>Interests</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th></tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.groupName}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.interests}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td> <a th:href="@{/admin/showFormForUpdate/{id}(id=${user.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/admin/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
<div style="background-color:#98b8eb; width:100%; height:100%;" >
    <div class="container my-2">
        <br>
        <h2 style="text-align:center;">Question List</h2>
        <a href="/question/add" class="btn btn-primary btn-sm mb-3"> Add Question </a>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr><th>Question</th>

                <th>Actions</th></tr>
            </thead>
            <tbody>
            <tr th:each="question : ${listQuestions}">
                <td th:text="${question.question}"></td>
                <td> <a th:href="@{/question/update/{id}(id=${question.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/question/delete/{id}(id=${question.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
</body>
</html>