<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Adding New User</title>
</head>
<body>
<div class="container">
    <h1>Users</h1>
    <hr>
    <h2>Add User</h2>

    <form action="#" th:action="@{/saveUser}" th:object="${user}" method="POST">
        <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{groupName}" placeholder="group name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{age}" placeholder="Age" class="form-control mb-4 col-4">

        <input type="text" th:field="*{interests}" placeholder="Interests" class="form-control mb-4 col-4">

        <input type="text" th:field="*{username}" placeholder="username" class="form-control mb-4 col-4">

        <input type="text" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save User</button>
    </form>

    <hr>

    <a th:href="@{/admin}"> Back to User List</a>
</div>
</body>
</html>