<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="header.html" ></header>

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Profile</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Josefin Sans', sans-serif;
    }

    body{
        background-color: #f3f3f3;
    }

    .wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 1000px;
        display: flex;
        box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    }

    .wrapper .left{
        width: 35%;
        background: linear-gradient(to right,#5f9ce8,#86b3eb);
        padding: 30px 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        color: #fff;
    }

    .wrapper .left img{
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .wrapper .left h4{
        margin-bottom: 10px;
    }

    .wrapper .left p{
        font-size: 12px;
    }

    .wrapper .right{
        width: 65%;
        background: #fff;
        padding: 30px 25px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .wrapper .right .info,
    .wrapper .right .projects{
        margin-bottom: 25px;
    }

    .wrapper .right .info h3,
    .wrapper .right .projects h3{
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #e0e0e0;
        color: #353c4e;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .wrapper .right .info_data,
    .wrapper .right .projects_data{
        display: flex;
        justify-content: space-between;
    }

    .wrapper .right .info_data .data,
    .wrapper .right .projects_data .data{
        width: 45%;
    }

    .wrapper .right .info_data .data h4,
    .wrapper .right .projects_data .data h4{
        color: #353c4e;
        margin-bottom: 5px;
    }

    .wrapper .right .info_data .data p,
    .wrapper .right .projects_data .data p{
        font-size: 13px;
        margin-bottom: 10px;
        color: #919aa3;
    }

    .wrapper .social_media ul{
        display: flex;
    }

    .wrapper .social_media ul li{
        width: 45px;
        height: 45px;
        margin-right: 10px;
        border-radius: 5px;
        text-align: center;
        line-height: 45px;
    }

    .wrapper .social_media ul li a{
        color :#fff;
        display: block;
        font-size: 18px;
    }
</style>
<body>
<div style="background:url(https://i.pinimg.com/originals/47/0a/19/470a19a36904fe200610cc1f41eb00d9.jpg);"><br><h1 style="color:white; text-align:center;">Profile</h1><br></div>
<div style="background-color:#bfc9d9; width:100%; height:100%" >

    <div class="wrapper">
        <div class="left">
            <img src="https://www.pinclipart.com/picdir/big/133-1331433_free-user-avatar-icons-happy-flat-design-png.png" alt="user" width="100">
            <hr>
            <h4  th:text="${user.firstName}"></h4>
            <p th:text="${user.lastName}"></p>
        </div>
        <div class="right">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Username</h4>
                        <p th:text="${user.username}"></p>
                    </div>
                    <div class="data">
                        <h4>Password</h4>
                        <p  th:text="${user.password}"></p>
                    </div>
                </div>
            </div>

            <div class="projects">
                <h3>Additional</h3>
                <div class="projects_data">
                    <div class="data">
                        <h4>Group</h4>
                        <p th:text="${user.groupName}"></p>
                    </div>
                    <div class="data">
                        <h4>Age</h4>
                        <p th:text="${user.age}"></p>
                    </div>
                    <div class="data">
                        <h4>Interests</h4>
                        <p th:text="${user.interests}"></p>
                    </div>
                </div>
            </div>

            <div class="social_media">
                <a th:href="@{/FormForUpdate/{id}(id=${user.id})}" class="btn btn-primary">Update</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>