<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Update Info</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <hr>
    <h2>Update Info</h2>

    <form action="#" th:action="@{/saveChange}" th:object="${user}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{firstName}"  class="form-control mb-4 col-4">

        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{groupName}"  class="form-control mb-4 col-4">

        <input type="text" th:field="*{age}"  class="form-control mb-4 col-4">

        <input type="text" th:field="*{interests}"  class="form-control mb-4 col-4">

        <input type="text" th:field="*{username}"  class="form-control mb-4 col-4">

        <input type="text" th:field="*{password}"  class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update User</button>
    </form>

    <hr>

    <a th:href="@{/profile}"> Back to Profile</a>
</div>
</body>

</html>>